body{
    background: #3a3838;
    color: #C1A03A;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;

}

#container{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 2px solid #ddd;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}

#header{
    color: beige;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    background: #37488b;
    margin: 0;
    padding: 0.5em 0 0.5em 2em;
    font-weight: bold;
    
}

#header #logo{
    width: 20px;
    vertical-align: middle;
}

#header #tagline{
    margin: 0 0 0 1;
    font-weight: normal;
    font-size: 0.8em;
}

#post{
    background: white;
    padding: 1em;
}

#footer{
    color: black;
    text-align: center;
    margin: 0.5px;
    font-weight: bold;
    background-image: radial-gradient(circle at 50% -20.71%, #f3d8e2 0, #f4d7df 5.56%, #f5d7dd 11.11%, #f6d7da 16.67%, #f6d8d7 22.22%, #f6d8d5 27.78%, #f5d8d3 33.33%, #f5d9d1 38.89%, #f3d9cf 44.44%, #f2dacd 50%, #f0dbcc 55.56%, #eedccb 61.11%, #ecdcca 66.67%, #e9ddc9 72.22%, #e7dec9 77.78%, #e4dfc9 83.33%, #e1e0ca 88.89%, #dee1cb 94.44%, #dbe1cc 100%);


}